/* **** tablas ******* */
.main-currency-table, .second-table-main {
    margin: 0 35px;
}
.container-both-tables  {
    margin: 0 30px;
}


/* **** planes ****** */
.plans-container--slider {
    margin: 0 60px;
}

/* .plans--container-card {
} */



